core/.settings/
core/bin/
db/.settings/
db/bin/
cluster/.settings/
cluster/bin/
game/.settings/
game/bin/
core/logs/
db/logs/
cluster/logs/
game/logs/
proto/.settings/
proto/bin/
.gradle/
.metadata/
.settings/
core/build/
game/build/
db/build/
cluster/build/
proto/build/